
.player-container{
    width: 100vw;
    height: 90vh;
}

.video-player{
    width: 100%;
    height: 90%;
    background-color: #222222;

}


.media-controls{
   width: 100%;
    z-index: 2147483647;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;


}

img{
    width: 50px;

}

.buttons{
    margin: 0 auto;

}


.play, .mute, .volumeSlider{
    text-align: center;
}

.slider{
    width: 100%;
    height: 30px;
    border-radius: 10px;
    margin: 20px 0;
    border: 1px solid gray;
    background-color: #222222;
}


.cursor{
    width: 30px;
    height: 30px;
    border-radius: 10px;
    background-color: #D1D1D1;
    transition: margin-left .1s linear;
}


video::-webkit-media-controls {
    display:none !important;
}



