.player-container{
    --width: 800px;
    width: var(--width);
    height: calc(var(--width) / 16 * 9);
    position: relative;
}

.video-player{
    width: 100%;
    height: 100%;
    background-color: #222222;
}

.player-container .media-controls {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2147483647;
}

img{
    width: 15px;

}

.buttons{
    margin: 0 auto;
    width: 100%;
    height: 30px;
    background-color: #212121;
    opacity: 0.95;
    display: flex;
    justify-content: space-between;
    z-index: 20;

}


.buttonsLeft{
    display: flex;
}

.buttonsRight{
    display: flex;
}


.play, .stop{
    margin: 5px 25px 0 0;
}

.play{
    margin-left: 20px;
}

.volumeSlider{
    margin-right: 30px;
    height: 50%;

}

.volumeSlider .volume-img {
    margin-right: 10px;
    margin-top: 5px;
}

.volume{
    margin: auto;
    height: 100%;
    background: transparent;
}

input[type=range]{
    -webkit-appearance: none;

}

input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    margin-top: -4px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #000000;
    height: 15px;
    width: 16px;
    border-radius: 3px;
    background: #528D93;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
}

.duration{
    color: white;
    margin-top: 5px;
}



.fullScreen-button{
    margin: 7px 20px 0 0;
}

.buffer{
    width: 100%;
}
.slider{
    width: 100%;
    height: 10px;
    background-color: #B7B7B7;
}


.cursor{
    width: 1px;
    height: 10px;
    background-color: #528D93;
    transition: margin-left .1s linear;
}


video::-webkit-media-controls {
    display:none !important;
}


.dimmed {
    opacity: 0.5;
}


@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to{
        opacity: 0;
        display: none;
    }
}

.hidden {
    animation: fadeOut .5s ease forwards;

}



